In [120]:
file1=open("nds.txt","r")

In [121]:
with open("nds.txt", "r") as file1:
    FileContent = file1.read()

In [122]:
print(FileContent)

Hoy es noche de sexo

In [123]:
file1.name

'nds.txt'

In [124]:
file1.mode

'r'

In [125]:
file1.closed

True

In [161]:
file3=open("nds.txt","w")
file3.write("Hola qué tal\n")
file3.write("Soy el chico de las poesías\n")
file3.write("Tu fiel admirador")
file3.close()
file3.closed

True

In [162]:
with open("mb.txt","w") as file6:
    file6.write("Yo te aviso\n")
    file6.write("me gustas sin compromiso\n")
    file6.write("con trenzas o pelo liso")
file6.close()
file6.closed

True

In [175]:
linesss=["this is line a\n","this is line b\n", "this is line c\n"]
with open("lines.txt","w") as lines:
    for line in linesss:
        lines.write(line)
lines.close()
lines.closed

True

In [180]:
with open("nds.txt","r") as readfile:
    with open("mb.txt","w") as writefile:
        for line in readfile:
            writefile.write(line)
readfile.close()
writefile.close()
readfile.closed
writefile.closed

True

In [182]:
import pandas as pd

In [197]:
xlsx_path="Datos.xlsx"
df=pd.read_excel("Datos.xlsx")
df.head()

,,Padrón,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
NaN,Población Censo 2011,2018,2017,2016,2015,2014,2013,2012,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
María-Los Vélez,12180,11354,11435,11571,11691,11859,12054,12490,12688,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Levante almeriense,81390,83353,82057,81435,81598,81997,84560,84916,84014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Almanzora,57695,55026,55054,55337,56447,57257,57603,59104,59954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nacimiento,9170,8058,8199,8382,8709,8683,8865,9189,9388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [199]:
x=df[["Padrón"]]

In [212]:
import pandas as banana

df=banana.DataFrame({'year':[1977,1982,1980,1973,1992,1977,1976,1977]})

df.head()

   year
0  1977
1  1982
2  1980
3  1973
4  1992

In [213]:
df["year"]

0    1977
1    1982
2    1980
3    1973
4    1992
5    1977
6    1976
7    1977
Name: year, dtype: int64

In [215]:
df["year"].unique()

array([1977, 1982, 1980, 1973, 1992, 1976], dtype=int64)

In [216]:
df["year"]>=1980

0    False
1     True
2     True
3    False
4     True
5    False
6    False
7    False
Name: year, dtype: bool

In [219]:
df1=df[df["year"]>=1980]

In [220]:
df1.to_csv("year80.csv")